.el-loading
    .el-loading-indicator
        .progress-circular.progress-circular-red
            .progress-circular-wrapper
                .progress-circular-inner
                    .progress-circular-left
                        .progress-circular-spinner
                    .progress-circular-gap
                    .progress-circular-right
                        .progress-circular-spinner